html,body{
	overflow-x: hidden;
}
.header{
	background:#fff url('img/y.jpg') no-repeat center center;
	background-size:cover;
	height:90%;
	z-index:-10;
	color:#f1f1f1;
}
.header-overlay{
	background-color: rgba(0,0,0,0.6);
	height:100%;
	z-index:-5;																											
}
form{
	color:black;
	background-color: white;
	padding:15px;
	margin-top: 35px;
}
button{
	margin-top: 20px;
}
section{
	padding-top:20px;
}
.section1{
	background-color: #f3f3f3;
}
.section2{
	background-color: #f3f3f3;
	padding-top: 20px;
}
.footer-panel{
	padding-top: 20px;
}
